@font-face {
	font-family: "headlinenews";
	src: url("../fonts/headlinenews.woff2") format("woff2"), url("../fonts/headlinenews.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
}
body {
	background: #1c1c1c linear-gradient(#2a2a29, #1c1c1c);
	color: #f0e7d5;
	font-family: georgia, serif;
	font-size: 18px;
	line-height: 1.8;
}
footer {
	color: #696969;
	font-size: 14px;
	line-height: 20px;
	padding: 30px;
	text-align: center;
}
footer a {
	color: #999;
	margin: 0 5px;
}
h1, h2, h3, h4, h5, h6 {
	color: #696969;
	font-family: "headlinenews";
	font-weight: normal;
	line-height: 1.2;
	text-transform: uppercase;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10px;
}
.menu {
	align-items: center;
	animation: both slide-in-from-top 250ms 100ms ease-in-out;
	background-image: url("/assets/img/stripes.svg");
	border-bottom: 1px solid #333;
	display: flex;
	line-height: 1;
	height: 40px;
	font-family: "headlinenews";
	font-size: 15px;
	text-transform: uppercase;
	user-select: none;
}
.menu a,
.menu span,
.menu svg {
	vertical-align: middle;
	display: inline-block;
}
.menu span {
	height: 13px;
}
.menu a {
	color: #696969;
	text-decoration: none;
	margin: 0 5px;
}
.menu a[disabled] {
	pointer-events: none;
}
.menu a[disabled] svg {
	opacity: 0.5;
}
.menu > a:first-child,
.menu > a:last-child {
	flex: 1;
}
.menu .prev {
	text-align: left;
}
.menu .next {
	text-align: right;
}
.menu .next svg {
	transform: rotate(180deg);
}
.pagination {
	font-family: georgia, serif;
	font-size: 16px;
	font-style: italic;
	line-height: 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 4;
}
.pagination a {
	background: rgba(182, 182, 182, 0.9);
	border-radius: 27px;
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.7);
	color: #111;
	display: block;
	overflow: hidden;
	position: absolute;
	bottom: 25px;
	height: 50px;
	width: 50px;
	text-decoration: none;
}
.pagination a[disabled] {
	cursor: default;
	opacity: 0.5;
}
.pagination .prev {
	left: 20px;
}
.pagination .next {
	right: 20px;
}
.pagination-status {
	text-align: center;
}
.sticky {
	background: #000;
	position: fixed;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
}
.story-link {
	color: inherit;
	display: block;
	outline: none;
	text-decoration: none;
}
.story-header {
	background: #111;
	border-bottom: 1px solid  #2a2a29;
	padding: 60px 20px;
	position: relative;
	z-index: 1;
}
.home .story-header:after {
	content: "";
	position: absolute;
	border-left: 4px solid #b6b6b6;
	border-bottom: 4px solid #b6b6b6;
	bottom: 32px;
	left: 50%;
	width: 8px;
	height: 8px;
	transform: rotate(-45deg);
	transform-origin: bottom left;

}
.story-wrapper {
	max-width: 860px;
	margin: auto;
}
.story-title {
	color: #e8e8e8;
	text-align: center;
}
.story-thumb {
	display: block;
	height: 64px;
	margin: 20px 0 10px;
	position: relative;
}
.story-thumb hr {
	background: #696969;
	border: none;
	height: 3px;
	mask: url("/assets/img/stripes.svg");
	-moz-mask: url("/assets/img/stripes.svg");
	-webkit-mask: url("/assets/img/stripes.svg");
	position: absolute;
	top: 50%;
	left: 10%;
	right: 10%;
	z-index: 1;
}
.story-thumb img {
	border: 4px solid #000;
	background: #696969;
	padding: 2px;
	border-radius: 60px;
	display: block;
	margin: auto;
	position: relative;
	vertical-align: middle;
	z-index: 2;
}
.story-cite {
	color: #fff;
	text-align: center;
	font-size: 14px;
	line-height: 1.5;
}
.story-intro {
	color: #b6b6b6;
	font-size: 22px;
	font-style: italic;
	text-align: center;
	margin-top: 30px;
}
.story-body {
	background: #222;
	box-shadow: 0 0 5px #111;
	box-sizing: border-box;
	display: block;
	margin: -30px 10px 0;
	padding: 20px 30px;
	position: relative;
	z-index: 2;
}
.story-body a {
	color: #a98846;
	text-decoration: none;
}
.story-body a:hover {
	text-decoration: underline;
}
.story-body h2 {
	margin: 60px 0 20px;
}
.story-body img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
.story-body li,
.story-body p {
	margin: 20px 0;
}
.story-body ol,
.story-body ul {
	margin: 20px;
}
.story-body > *:first-child {
	margin-top: 0;
}
.story-body > *:last-child {
	margin-bottom: 0;
}
.story-body .separator {
	display: block;
}
.story-body .side-note {
	color: #b6b6b6;
	padding: 25px 100px;
	margin: 0 -80px;
	font-size: 14px;
}
.story-body .strike {
	text-decoration: line-through;
}
.story-body .strike-above {
	position: relative;
}
.story-body .strike-above:after {
	content: attr(title);
	position: absolute;
	text-decoration: line-through;
	top: -1ex;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-5deg);
}
/* THEMES */
.seaside nav {
	background-color: #18a276;
	border-bottom-color: #39c89a;
}
.seaside nav a,
.seaside .story-cite {
	color: #a0c7bb;
}
.seaside .story-header,
.seaside .side-note {
	background-color: #000b0e;
}
.seaside .story-header:after {
	border-color: #a0c7bb;
}
.seaside .story-thumb hr,
.seaside .story-thumb img {
	background-color: #39c89a;
}
.healer nav {
	background-color: #6a1b75;
	border-bottom-color: #b439c8;
}
.healer nav a,
.healer .story-cite {
	color: #d3b4d8;
}
.healer .story-header,
.healer .side-note {
	background-color: #0d000e;
}
.healer .story-header:after {
	border-color: #d3b4d8;
}
.healer .story-thumb hr,
.healer .story-thumb img {
	background-color: #b439c8;
}
.rusty nav {
	background-color: #e43301;
	border-bottom-color: #e84619;
}
.rusty nav a,
.rusty .story-cite {
	color: #e6b5a8;
}
.rusty .story-header,
.rusty .side-note {
	background-color: #150303;
}
.rusty .story-header:after {
	border-color: #e6b5a8;
}
.rusty .story-thumb hr,
.rusty .story-thumb img {
	background-color: #e84619;
}
.honey nav {
	background-color: #d89200;
	border-bottom-color: #ffad00;
}
.honey nav a,
.honey .story-cite {
	color: #e6dabb;
}
.honey .story-header,
.honey .side-note {
	background-color: #100c00;
}
.honey .story-header:after {
	border-color: #e6dabb;
}
.honey .story-thumb hr,
.honey .story-thumb img {
	background-color: #ffad00;
}
.marine nav {
	background-color: #0051b3;
	border-bottom-color: #0060d2;
}
.marine nav a,
.marine .story-cite {
	color: #a0afc7;
}
.marine .story-header,
.marine .side-note {
	background-color: #000710;
}
.marine .story-header:after {
	border-color: #a0afc7;
}
.marine .story-thumb hr,
.marine .story-thumb img {
	background-color: #0060d2;
}
/* RESPONSIVE */
@media screen and (min-width: 900px) {
	.story-body {
		margin-left: auto;
		margin-right: auto;
		max-width: 860px;
	}
	.story-body .separator {
		display: inline;
	}
	.story-body .separator:after {
		color: #000;
		content: " :: ";
	}
	.story-body .side-note {
		margin: 0 -30px;
	}
}
/* ANIMATIONS */
@keyframes slide-in-from-top {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}
