@font-face {
	font-family: "headlinenews";
	src: url("/assets/fonts/headlinenews.woff2") format("woff2"), url("/assets/fonts/headlinenews.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
}
body {
	background: #1c1c1c linear-gradient(#2a2a29, #1c1c1c);
	color: #f0e7d5;
	font-family: georgia, serif;
	font-size: 18px;
	line-height: 1.8;
}
footer {
	color: #696969;
	font-size: 14px;
	line-height: 1;
	padding: 30px;
	text-align: center;
}
footer a {
	color: #999;
}
h1, h2, h3, h4, h5, h6 {
	color: #696969;
	font-family: "headlinenews";
	font-weight: normal;
	line-height: 1.2;
	text-transform: uppercase;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10px;
}
nav {
	align-items: center;
	animation: both slide-in-from-top 250ms 100ms ease-in-out;
	background-image: url("/assets/img/stripes.svg");
	border-bottom: 1px solid #333;
	display: flex;
	line-height: 40px;
	height: 40px;
	font-family: "headlinenews";
	font-size: 14px;
	text-transform: uppercase;
	user-select: none;
}
nav a {
	color: #696969;
	text-decoration: none;
	margin: 0 5px;
}
nav a[disabled] {
	pointer-events: none;
}
nav a[disabled] .arrow {
	opacity: 0.5;
}
nav a.paginate {
	flex: 1;
	transform: translateY(1px);
}
nav a.newer {
	text-align: right;
}
nav a.older {
	text-align: left;
}
nav img {
	border-radius: 30px;
	vertical-align: middle;
}
.sticky {
	background: #000;
	position: sticky;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
}
.story-link {
	color: inherit;
	display: block;
	outline: none;
	text-decoration: none;
}
.story-header {
	background: #111;
	border-bottom: 1px solid  #2a2a29;
	padding: 60px 20px;
}
.story-wrapper {
	max-width: 860px;
	margin: auto;
}
.story-title {
	color: #e8e8e8;
	text-align: center;
}
.story-thumb {
	display: block;
	height: 64px;
	margin: 30px 0 10px;
	position: relative;
}
.story-thumb hr {
	background: #696969;
	border: none;
	height: 3px;
	mask: url("/assets/img/stripes.svg");
	-moz-mask: url("/assets/img/stripes.svg");
	-webkit-mask: url("/assets/img/stripes.svg");
	position: absolute;
	top: 50%;
	left: 10%;
	right: 10%;
	z-index: 1;
}
.story-thumb img {
	border: 4px solid #000;
	background: #696969;
	padding: 2px;
	border-radius: 60px;
	display: block;
	margin: auto;
	position: relative;
	vertical-align: middle;
	z-index: 2;
}
.story-cite {
	color: #fff;
	text-align: center;
	font-size: 14px;
	line-height: 1.5;
}
.story-intro {
	color: #b6b6b6;
	font-size: 22px;
	font-style: italic;
	text-align: center;
	margin-top: 30px;
}
.story-body {
	background: #222;
	box-shadow: 0 0 5px #111;
	box-sizing: border-box;
	display: block;
	margin: -30px 10px 0;
	padding: 20px 30px;
}
.story-body h2 {
	margin: 60px 0 20px;
}
.story-body img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
.story-body li,
.story-body p {
	margin: 20px 0;
}
.story-body ol,
.story-body ul {
	margin: 20px 40px;
}
.story-body > *:first-child {
	margin-top: 0;
}
.story-body > *:last-child {
	margin-bottom: 0;
}
/* THEMES */
.seaside nav {
	background-color: #18a276;
	border-bottom-color: #39c89a;
}
.seaside nav a,
.seaside .story-cite {
	color: #a0c7bb;
}
.seaside .story-header {
	background-color: #000b0e;
}
.seaside .story-thumb hr,
.seaside .story-thumb img {
	background-color: #39c89a;
}
.healer nav {
	background-color: #6a1b75;
	border-bottom-color: #b439c8;
}
.healer nav a,
.healer .story-cite {
	color: #d3b4d8;
}

.healer .story-header {
	background-color: #0d000e;
}
.healer .story-thumb hr,
.healer .story-thumb img {
	background-color: #b439c8;
}
.rusty nav {
	background-color: #e43301;
	border-bottom-color: #e84619;
}
.rusty nav a,
.rusty .story-cite {
	color: #e6b5a8;
}
.rusty .story-header {
	background-color: #150303;
}
.rusty .story-thumb hr,
.rusty .story-thumb img {
	background-color: #e84619;
}
.honey nav {
	background-color: #d89200;
	border-bottom-color: #ffad00;
}
.honey nav a,
.honey .story-cite {
	color: #e6dabb;
}
.honey .story-header {
	background-color: #100c00;
}
.honey .story-thumb hr,
.honey .story-thumb img {
	background-color: #ffad00;
}
.marine nav {
	background-color: #0051b3;
	border-bottom-color: #0060d2;
}
.marine nav a,
.marine .story-cite {
	color: #a0afc7;
}
.marine .story-header {
	background-color: #000710;
}
.marine .story-thumb hr,
.marine .story-thumb img {
	background-color: #0060d2;
}
/* RESPONSIVE */
@media screen and (min-width: 900px) {
	.story-body {
		margin-left: auto;
		margin-right: auto;
		max-width: 860px;
	}
}
@media screen and (min-width: 540px) {
	.story-body {
		padding: 60px 80px;
	}
}
/* ANIMATIONS */
@keyframes slide-in-from-top {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}
