<!doctype html>
<html lang="en">
<head>
{% if page.theme == 'home' %}
{% assign firstPost = site.posts | first %}
	<link rel="icon" href="/assets/favicon/{{ firstPost.theme }}/favicon.ico" sizes="any">
	<link rel="apple-touch-icon" href="/assets/favicon/{{ firstPost.theme }}/apple-touch-icon.png">
{% else %}
	<link rel="icon" href="/assets/favicon/{{ page.theme }}/favicon.ico" sizes="any">
	<link rel="apple-touch-icon" href="/assets/favicon/{{ page.theme }}/apple-touch-icon.png">
{% endif %}
	<link rel="stylesheet" href="/assets/css/main.css?v={{ site.github.build_revision }}" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<meta name="author" content="{{ site.author }}" />
	<meta name="twitter:site" content="{{ site.twitter }}" />
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:locale" content="en_US" />
{% if page.title %}
	<title>{{ page.title }}</title>
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta name="twitter:creator" content="{{ site.twitter }}" />
{% elsif paginator.page > 1 %}
	<title>{{ site.title }} Page {{ paginator.page }}</title>
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ site.title }} Page {{ paginator.page }}" />
{% else %}
	<title>{{ site.title }}</title>
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ site.title }}" />
{% endif %}
{% if page.excerpt %}
	<meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines }}" />
{% else %}
	<meta property="og:description" content="{{ site.description }}" />
{% endif %}
{% if page.url %}
	<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
{% endif %}
{% if page.date %}
	<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
{% endif %}
{% if page.image %}
	<meta property="og:image" content="{{ site.url }}/assets/img/{{ page.image }}" />
	<meta name="twitter:card" content="summary_large_image" />
{% elsif page.thumb %}
	<meta property="og:image" content="{{ site.url }}/assets/img/{{ page.thumb }}" />
	<meta name="twitter:card" content="summary" />
{% else %}
	<meta property="og:image" content="{{ site.url }}/assets/img/avatar.jpg" />
	<meta name="twitter:card" content="summary" />
{% endif %}
</head>
<body class="{{ page.theme }}">

	{{ content }}

	<footer>
		<a href="/">Home</a><br />
		{% if paginator.total_pages > 1 %}
			<em>Page {{ paginator.page }} of {{ paginator.total_pages }}</em>
		{% endif %}
		&copy; {{ "now" | date: "%Y" }} {{ site.author }}
	</footer>
	<script src="/assets/js/smoothscroll.min.js"></script>
	<script>
		var scrollToElement;
		if (location.hash === "#read-more") {
			scrollToElement = document.querySelector(".story-cite");
		} else if (location.hash.startsWith("#list-")) {
			scrollToElement = document.getElementById(location.hash.slice(6));
		}
		if (scrollToElement) {
			history.replaceState(undefined, document.title, location.pathname);
			requestAnimationFrame(function() {
				scrollToElement.scrollIntoView({behavior: "smooth"});
			});
		}
	</script>
</body>
</html>
